input{
		outline:none;
}
a {
	text-decoration:none;
	color:#6c6c6c;}

li { list-style:none; }
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img,input,textarea,select,th,td,dl,dd,figure{margin:0;padding:0;}
body,html{
		font:.12rem "微软雅黑",Arial;
		color:#fff;
		background-color: #f0f0f0;
		}

em,i { font-style:normal; }
input{
	border:0;
	outline: none;
}
select{
	border:0;
	outline:none;
}
h1,h2,h3,h4,h5,h6,shtrong ,b{
		font-weight:normal;
		font-size:100%;
}

.clearfix{zoom:1;}
.clearfix:after{
		content:" ";
		height:0;
		visibility:hidden;
		display:block;
		clear:both;
}
